[submodule "employees"]
	path = employees
	url = https://github.com/GrupoOtto/supermercado-rrhh-api.git
[submodule "products"]
	path = products
	url = https://github.com/GrupoOtto/supermercado-products-api
[submodule "coupons"]
	path = coupons
	url = https://github.com/GrupoOtto/supermercado-coupons-api
[submodule "users"]
	path = users
	url = https://github.com/GrupoOtto/supermarket-users-service.git
[submodule "sales"]
	path = sales
	url = https://github.com/GrupoOtto/supermarket-sales.git
[submodule "web"]
	path = web
	url = https://github.com/GrupoOtto/supermarket-web.git
[submodule "bpm"]
	path = bpm
	url = https://github.com/GrupoOtto/supermarket-bpm.git
