[submodule "employees"]
	path = employees
	url = https://github.com/GrupoOtto/supermercado-rrhh-api.git
[submodule "products"]
	path = products
	url = https://github.com/GrupoOtto/supermercado-products-api
[submodule "coupons"]
	path = coupons
	url = https://github.com/GrupoOtto/supermercado-coupons-api