0.0.0.0:{$PORT} 
gzip

proxy /api/bpm {$BPM_API} {
    without /api/bpm
}

proxy /api/coupons {$COUPONS_API} {
    without /api/coupons
}

proxy /api/employees {$EMPLOYEES_API} {
    without /api/employees
}

proxy /api/products {$PRODUCTS_API} {
    without /api/products
}

proxy /api/sales {$SALES_API} {
    without /api/sales
}

proxy /api/users {$USERS_API} {
    without /api/users
}

proxy /bonita {$BONITA} {
    without /bonita
}

proxy / {$WEB} 